
.placeholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: red;
  width: 120px;
  height: 160px;
  margin: 8px 8px 8px 8px;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  border: 1px solid dimgray;
  border-radius: 10px;
  overflow: scroll;
}
