
@mixin setMarginAndPadding {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

main {
  background-color: lightcyan;
  @include setMarginAndPadding;

  h1, h2, h3, h4, h5 {
    font-size: medium;
  }
}

body {
  margin: auto;
  width: 1000px;
}

nav {
  background-color: lightgray;
  @include setMarginAndPadding;
}
